body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    background-image: linear-gradient(to top right, #261749, #292e75, #5c7cc4, #b9daff);
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
     /*prevent text selection*/
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: black;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
} 

.calculator {
    width: 350px;
    height: 540px;
    background-color: #5c7cc4;
    border-radius: 10px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    padding: 5px;
    height: 55px;
    border: 5px solid black;
    background-color: white;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.display.topText {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 15px;
}

.buttons {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    height: 80%;
    border: 5px solid black;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    padding-bottom: 15px;
}
button.equals {
    grid-column: 3 / 5;
    border-radius: 2.5rem;
}
button {
    font-size: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #222222;
    font-family: inherit;
    box-shadow: 0 6px 15px 0 rgba(51, 51, 51, 0.75);
}

button:hover {
    background-image: linear-gradient(to top, #29323c, #485563, #2b5876, #4e4376);
    transform: translateY(-3px)
}
button:active {
    transform: translateY(4px);
}